html {
    background-color: black;
    overflow:hidden;
}

body{
  margin:0;
  padding:0;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
  line-height:1.3;
  opacity: 1;
  transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

#canvas {
    position:absolute;
    width:100%;
    height:auto;
    top:0;
}

p {
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:#8e8e8e;
  transition:.5s;
  z-index:100;
  cursor:pointer;
}

a:hover {
  color:white;
  transition:.5s;
}

::selection {
  color:#555555;

}

.topLeft {
  font-family: 'Overpass', monospace;
  position:fixed;
  font-size:.9em;
  color: white;
  top:3%;
  left:2%;
}

.bottomLeft {
  position:fixed;
  font-size:.75em;
  font-weight: 300;
  color: #8e8e8e;
  bottom:3%;
  left:2%;
}

.topRight {
  position:fixed;
  font-size:.75em;
  color: #8e8e8e;
  text-align: right;
  top:3%;
  right:2%;

}

.bottomRight {
  position:fixed;
  font-size:.75em;
  color: #8e8e8e;
  text-align: right;
  bottom:3%;
  right:2%;
}

 .label{
   color: white;
   font-size:.8em;
   font-weight:300;
   line-height: 1.2;
   background: transparent;
   opacity: 0;
   transition: opacity .5s;
   left: 0;
   top: 0;
   padding: 0;
   margin: 0;
   width:200px;
   border-left: white solid 1.5px;
   text-align: left;
   padding-left: 8px;
   padding-bottom: 40px;
   margin-top: -30px;
   margin-left: 103px;
 }

 .label:hover{
   opacity: 1;
   transition: opacity .5s;
 }

 /* DROP DOWN */
 .overlay {
     height: 100%;
     width: 100%;
     display: none;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     right:0;
     bottom:0;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0, 0.8);
 }

 .overlay-content {
     color:#aaa;
     position: relative;
     top: 40%;
     width: 100%;
     text-align: center;
 }

 .overlay a {
     color:#aaa;
     padding: 8px;
     text-decoration: none;
     font-size: 1em;
     display: block;
     transition: 0.3s;
 }

 .overlay a:hover, .overlay a:focus {
     color: white;
 }

 .overlay .closebtn {
     margin:0;
     padding:0;
     font-size: 40px;
     position: fixed;
     top: 3%;
     right: 2%;
 }


/* LIST VIEW */
.listview {
  -webkit-column-count: 8; /* Chrome, Safari, Opera */
  -moz-column-count: 8; /* Firefox */
  column-count: 8;
  font-size:.7em;
  color: #8e8e8e;
  position:fixed;
  top: 140px;
  left:2%;
  right:2%;
}

.city {
  border-top: 1px dotted #8e8e8e;
  padding-top:5px;
  padding-bottom:20px;
}

/* HOME PAGE - PHONES */
@media only screen and (max-width: 768px) {
  .topLeft {
    top:2%;
    left:2%;
    font-size:1em;
  }

  .bottomLeft {
    font-size:.9em;
    bottom:2%;
    left:2%;
  }

  .topRight {
    font-size:.9em;
    top:2%;
    right:2%;
  }

  .bottomRight {
    font-size:.9em;
    top:2%;
    right:2%;
  }
}
